.fa-spinner {
    animation: spin 2s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

details {
    summary {
        display: block;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary::before {
        display: inline-block;
        content: "▶️";
        width: 1em;
        height: 1em;
    }

    &[open]>summary::before {
        transform: rotate(90deg);
    }


    ul {
        list-style-type: none;
        margin: unset;
        padding-inline-start: 1em;
    }

    li> :not(details) {
        margin-left: 1em;
    }

    .viewed {
        color: gray;
    }

    .tree-shaked {
        color: lightgray;
        text-decoration: line-through;
    }

}